
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 30vW;
  max-height: 70vh;/* Ajusta este valor a lo que necesites */
  margin: 10 auto;
  border: 1px solid #1f1b1b;
  border-color: blueviolet;
}

.carousel{
  box-sizing: border-box;
  margin: 0 auto;
  background-color:#92609c;
  height: 508px;
  width: 393px;
}
  
.slide-carousel{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  max-height: 50vh;
  margin: 0 auto;
}                                            

.slide-text{
  position: relative;
  left: 50%;
  font-size: 20px;
  font-family: overlock;
  font-weight: 600;
  color: #4f2757;
  width: 200px;
  height:330px;
  text-align: center;
  transform:translate(-50%, -95%);
 letter-spacing: 0.4px;
}

.arrow {
  position: relative;
  top: 50%;
  left: 80%;
  right: 80%;
  font-size: 30px;
  cursor: pointer;
  color: #4f2757;
  user-select: none;
  transform: translateY(-50%);
  z-index: 2;
}

.arrow:hover {
  color: rgb(159, 105, 159);
}

.arrowNext, .arrowPrev {
  position: relative;  
  background: transparent !important;
}
.arrowNext {
  position: absolute;
  top: 30%;
  right: 40%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  color: rgb(125, 53, 122);
  user-select: none;
}

.arrowPrev {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  color:rgb(125, 53, 122);
  user-select: none;
  
}

.navigation-dots {
  position: relative;
  bottom: 25%; 
  left: 0%;
  transform: translateX(-50%);
  z-index: 0; 
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  border: 3px solid #4f2757;
}

.dot:hover {
  background-color: transparent;
}

.activeDot {
  background-color: rgb(159, 105, 159);
}


@media only screen and (max-width: 768px) {
  .container-carousel {
    margin-left: 2%; 
    margin-right: 2%; 
  }

  .carousel-slide {
    margin-left: 2%; 
    margin-right: 2%; 
  }

  .navigation-dots {
    display:none
  }

  .arrowNext {
    position: absolute;
    top:50%;
    left: 70%;
  
    transform: translateY(-50%);
    font-size: 7px;
    cursor: pointer;
    color: rgb(125, 53, 122);
  
  }
  
  .arrowPrev {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translateY(-50%);
    font-size: 7px;
    cursor: pointer;
    color:rgb(125, 53, 122);
  }
}