
/*TarotCardStyles.css*/


.card {
    position: absolute;
    width: 100px;
    /* height: 140px; */
    cursor: pointer;
    right: -25.231rem;
    margin: 23rem 3rem 34rem 40rem;

    transform-style: preserve-3d;
    transition: transform 0.5s;

  }
  
  .card-inner {
    width: 100px;
    
    bottom: unset;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  
  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card .card-front,
  .card .card-back {
    position: absolute;
    
    backface-visibility: hidden;
  }
  
  .card .card-front {
    transform: rotateY(0deg);
  }
  
  .card .card-back {
    transform: rotateY(180deg);
  }
  
  /* Otros estilos */
  /* .grid {
    display: grid;
    grid-template-columns: repeat(55, 1fr);
    gap: 10px;
    justify-content: center;
  } */
  
  .tirada {
    display: flex;
    justify-content: center;
  }

