
.tarot-card {
    /* Estilos base de la carta */
    transition: transform 0.3s, filter 0.3s;
  }
  
  .tarot-card.selected {
    /* Estilos para la carta seleccionada */
    transform: scale(1.2);
    filter: brightness(1.2); 
  }
  
  .tarot-card.disabled {
   
    opacity: 0.5; 
    cursor: not-allowed;
  }
  
