/* TarotMeaningStyles.css */
.meaning {
    position: relative;
    justify-content: space-between;
    top: 47rem;
    left: 30rem;
    transform: translateX(-50%);
    text-align: center;
    width: 160px; /* Ajusta el ancho según sea necesario */
    padding: 70px 30px 30px 30px;

  }
  